/*
 * Wish Fabric Api - Middleware to Fabric
 *
 * Wish Fabric API (Integration)
 *
 * OpenAPI spec version: 1.0.1
 * Contact: you@your-company.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class DatabaseApiController : Controller
    { 

        /// <summary>
        /// Remove database
        /// </summary>
        /// <remarks>It will remove the database and move it to snapshot for 30 days. </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="databaseName">Database name</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpDelete]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database/{database_name}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseDatabaseNameDelete")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseDatabaseNameDelete([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]string databaseName)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Edit database details
        /// </summary>
        /// <remarks>Edit database details. Support database id or name \&quot;/provisioning/hosting/{hosting_name}/database/{database_name}\&quot; </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="databaseName">Database name</param>
        /// <param name="databaseUpdate">The database details to be updated</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpPut]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database/{database_name}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseDatabaseNamePut")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseDatabaseNamePut([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]string databaseName, [FromBody]DatabaseUpdate databaseUpdate)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Retrieve hosting account databases list
        /// </summary>
        /// <remarks>Retrives the list of provisioned databases with details </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <response code="200">Array of DatabaseInfo</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseGet")]
        [SwaggerResponse(200, type: typeof(List<DatabaseInfo>))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseGet([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<DatabaseInfo>>(exampleJson)
            : default(List<DatabaseInfo>);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Provision a new database on hosting cluster
        /// </summary>
        /// <remarks>Create a database instance with required parameters. We assume a group of WebClusters will have own database cluster. </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="databaseCreate">The database details.</param>
        /// <response code="202">Create a database instance</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="409">An existing database &#39;db_name&#39; already exists</response>
        /// <response code="0">Unexpected error</response>
        [HttpPost]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabasePost")]
        [SwaggerResponse(200, type: typeof(List<FabricTask>))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabasePost([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromBody]DatabaseCreate databaseCreate)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<FabricTask>>(exampleJson)
            : default(List<FabricTask>);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Delete an existing database user
        /// </summary>
        
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="dbUsername">Database user identifier</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpDelete]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database/user/{db_username}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserDbUsernameDelete")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserDbUsernameDelete([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]string dbUsername)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Get an existing database user
        /// </summary>
        
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="dbUsername">Database user identifier</param>
        /// <response code="200">Get an existing database user</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database/user/{db_username}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserDbUsernameGet")]
        [SwaggerResponse(200, type: typeof(DatabaseUserInfo))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserDbUsernameGet([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]string dbUsername)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<DatabaseUserInfo>(exampleJson)
            : default(DatabaseUserInfo);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Update an existing database user
        /// </summary>
        
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="dbUsername">Database user identifier</param>
        /// <param name="databaseUserUpdate">The database user details</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpPut]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database/user/{db_username}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserDbUsernamePut")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserDbUsernamePut([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]string dbUsername, [FromBody]DatabaseUserUpdate databaseUserUpdate)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Retrieve a list of database users
        /// </summary>
        /// <remarks>Retrieve the list of database users for a hosting account </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <response code="200">Retrieve the list of database users for a hosting account</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database/user")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserGet")]
        [SwaggerResponse(200, type: typeof(List<DatabaseUserInfo>))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserGet([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<DatabaseUserInfo>>(exampleJson)
            : default(List<DatabaseUserInfo>);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Create a new database user
        /// </summary>
        /// <remarks>Create a new database user </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="databaseUserCreate">The database user details</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpPost]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/database/user")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserPost")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdDatabaseUserPost([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromBody]DatabaseUserCreate databaseUserCreate)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }
    }
}
