/*
 * Wish Fabric Api - Middleware to Fabric
 *
 * Wish Fabric API (Integration)
 *
 * OpenAPI spec version: 1.0.1
 * Contact: you@your-company.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class MiscApiController : Controller
    { 

        /// <summary>
        /// Get IIS settings for hosting account
        /// </summary>
        /// <remarks>Get IIS settings settings</remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <response code="200">Success</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/iis_settings")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdIisSettingsGet")]
        [SwaggerResponse(200, type: typeof(AppPoolInfo))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdIisSettingsGet([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<AppPoolInfo>(exampleJson)
            : default(AppPoolInfo);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Update an IIS Setting
        /// </summary>
        
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="iisSettingsUpdate">IIS Settings</param>
        /// <response code="202"></response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpPut]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/iis_settings")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdIisSettingsPut")]
        public virtual void ProvisioningPackagePackageIdHostingHostingAccountIdIisSettingsPut([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromBody]IisSettingsUpdate iisSettingsUpdate)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// Retrieve list of dirs starting from hosting&#39;s root folder
        /// </summary>
        /// <remarks>Retrieve list of dirs starting from hosting&#39;s root folder</remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="depth">depth level of folders to display</param>
        /// <response code="200">List of hierarchy dirs (JSON)</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/ls/{depth}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdLsDepthGet")]
        [SwaggerResponse(200, type: typeof(string))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdLsDepthGet([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]int? depth)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<string>(exampleJson)
            : default(string);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Retrieve list of IP access security rules
        /// </summary>
        /// <remarks>Retrieve list of IP access security rules</remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <response code="200">list of IP Security Rules</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/security/access")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessGet")]
        [SwaggerResponse(200, type: typeof(List<IPSecurity>))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessGet([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<IPSecurity>>(exampleJson)
            : default(List<IPSecurity>);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Add IP access security rule
        /// </summary>
        /// <remarks>Add IP access security rule</remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="securityRuleCreate">Security rule details</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpPost]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/security/access")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessPost")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessPost([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromBody]SecurityRuleCreate securityRuleCreate)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Remove IP access security rule
        /// </summary>
        /// <remarks>Remove IP access security rule</remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="ruleId">ip rule identifier</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpDelete]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/security/access/{rule_id}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessRuleIdDelete")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessRuleIdDelete([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]string ruleId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Modify IP access security rule
        /// </summary>
        /// <remarks>Modify IP access security rule</remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="packageId">Server package instance id</param>
        /// <param name="hostingAccountId">Hosting account unique id (PK). Cannot be changed.</param>
        /// <param name="ruleId">ip rule identifier</param>
        /// <param name="securityRuleUpdate">Security rule updates</param>
        /// <response code="202">Request is accepted and FabricTask &#39;_utid&#39; is returned</response>
        /// <response code="400">Bad request</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting account not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpPut]
        [Route("/provisioning/package/{package_id}/hosting/{hosting_account_id}/security/access/{rule_id}")]
        [SwaggerOperation("ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessRuleIdPut")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult ProvisioningPackagePackageIdHostingHostingAccountIdSecurityAccessRuleIdPut([FromHeader]string authorization, [FromRoute]long? packageId, [FromRoute]int? hostingAccountId, [FromRoute]string ruleId, [FromBody]SecurityRuleUpdate securityRuleUpdate)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }
    }
}
