/*
 * Wish Fabric.Core Api - Middleware to Fabric.Core
 *
 * Wish Fabric.Core API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: you@your-company.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class FtpApiController : Controller
    { 

        /// <summary>
        /// Create a ftp user for current HostingAccount
        /// </summary>
        /// <remarks>Create a ftp user with required parameters </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="hostingName">hosting account (primary domain)</param>
        /// <param name="ftpUserB">The ftp details</param>
        /// <response code="202">FabricTask for FTPUserInfo edit</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting not found</response>
        /// <response code="409">An existing ftp &#39;username&#39; already exists</response>
        /// <response code="0">Unexpected error</response>
        [HttpPost]
        [Route("/itabara/Fabric.Core/1.0.0/provisioning/hosting/{hosting_name}/ftp")]
        [SwaggerOperation("CreateFtpUser")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult CreateFtpUser([FromHeader]string authorization, [FromRoute]string hostingName, [FromBody]FtpUserB ftpUserB)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Delete ftp user
        /// </summary>
        /// <remarks>It will remove the ftp user. Cannot remove primary ftp account (admin@hosting_name) </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="hostingName">hosting account (primary domain)</param>
        /// <param name="username">current Ftp username</param>
        /// <response code="202">FabricTask for FTPUserInfo delete</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting or ftpuser not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpDelete]
        [Route("/itabara/Fabric.Core/1.0.0/provisioning/hosting/{hosting_name}/ftp/{username}")]
        [SwaggerOperation("DeleteFtpUser")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult DeleteFtpUser([FromHeader]string authorization, [FromRoute]string hostingName, [FromRoute]string username)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Edit ftp user details
        /// </summary>
        /// <remarks>Edit ftp user. Cannot edit username. </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="hostingName">hosting account (primary domain)</param>
        /// <param name="username">current Ftp username</param>
        /// <param name="ftpUser">The ftp details</param>
        /// <response code="202">FabricTask for FTPUserInfo edit</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting or ftpuser not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpPut]
        [Route("/itabara/Fabric.Core/1.0.0/provisioning/hosting/{hosting_name}/ftp/{username}")]
        [SwaggerOperation("EditFtpUser")]
        [SwaggerResponse(200, type: typeof(FabricTask))]
        public virtual IActionResult EditFtpUser([FromHeader]string authorization, [FromRoute]string hostingName, [FromRoute]string username, [FromBody]FtpUser ftpUser)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FabricTask>(exampleJson)
            : default(FabricTask);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Get ftp user
        /// </summary>
        /// <remarks>Retrieves ftp user account details </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="hostingName">hosting account (primary domain)</param>
        /// <param name="username">current Ftp username</param>
        /// <response code="200">Retrieve the ftp details</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Hosting or ftpuser not found</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/itabara/Fabric.Core/1.0.0/provisioning/hosting/{hosting_name}/ftp/{username}")]
        [SwaggerOperation("GetFtpUser")]
        [SwaggerResponse(200, type: typeof(FtpUserInfo))]
        public virtual IActionResult GetFtpUser([FromHeader]string authorization, [FromRoute]string hostingName, [FromRoute]string username)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<FtpUserInfo>(exampleJson)
            : default(FtpUserInfo);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Retrive the list of ftp accounts
        /// </summary>
        /// <remarks>The list of ftp account info </remarks>
        /// <param name="authorization">Access token</param>
        /// <param name="hostingName">hosting account (primary domain)</param>
        /// <response code="200">Array of FtpUserInfo</response>
        /// <response code="401">Invalid authorization token</response>
        /// <response code="404">Failed to get hosting account</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/itabara/Fabric.Core/1.0.0/provisioning/hosting/{hosting_name}/ftp")]
        [SwaggerOperation("ProvisioningHostingHostingNameFtpGet")]
        [SwaggerResponse(200, type: typeof(List<FtpUserInfo>))]
        public virtual IActionResult ProvisioningHostingHostingNameFtpGet([FromHeader]string authorization, [FromRoute]string hostingName)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<FtpUserInfo>>(exampleJson)
            : default(List<FtpUserInfo>);
            return new ObjectResult(example);
        }
    }
}
